[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_switchwindows_config
X-KDE-ParentComponents=switchwindows

Name=Witch Windows
Name[zh_CN]=切换窗口
Name[zh_TW]=切換視窗
